.destination-info
  %div= @destination.unique_id
  %div= @destination.name
  %div= @destination.destination_type
  %div= @destination.current_status
  %div= @destination.current_report_time

%div
  Enter Another Observation