.destination-info
  %div= @destination.name
  %div= @destination.destination_type
  %div= @destination.closest_section
  %div= @destination.current_wait_time
  %div= @destination.current_report_time

%div
  Enter Another Observation