.time-entry
  = form_for :destination do |f|
    %div= text_field_tag :section_number
    %div= f.select :destination_type, Destination.destination_type_enum
    %div= f.select :current_wait_time, Destination.current_wait_time_enum
    %div= f.submit