#head
  %h1="Dome Wait"
  %button.icon-cog.icon-2x
  %button.icon-screenshot.icon-2x

#map
  %img{:id => "superdome_bg", :alt => "Superdome BG", :src => ""}

  #destinations
    -@destinations.each do |dest|
      %a{:class => classify(dest), :style => "top: #{scale_y(dest.lat)}px; left: #{scale_x(dest.long)}px;", :href => "javascript://", :title => dest.current_report_time.to_s }

#sectionForm
  %h2
    Choose Your Section

  = form_tag('/show') do
    = text_field_tag 'section'
    = submit_tag "Go"

