%img{:id => "superdome_bg", :alt => "Superdome BG", :src => ""}

#destinations
  -@destinations.each do |dest|
    %a{:class => "destination", :style => "top: #{scale_y(dest.lat)}px; left: #{scale_x(dest.long)}px;", :href => "javascript://" }

#sectionNumber
  - unless @section.nil?
    %h2= "Wait times for Section #{@section.section_number}"
    %div
      %button#changeSection= "change Section"

#sectionForm
  %h2
    Choose Your Section

  = form_tag('/show') do
    = text_field_tag 'section'
    = submit_tag "Go"

