!!! 5
%html
  %head
    %title= "Super Bowl Wait Times"
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %meta{ :content => "3 days", :name => "revisit-after" }
    %link{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :title => "Creative Commons Attribution 3.0 Unported License" }
    %link{ :href => "/css/screen.css", :media => "screen", :rel => "stylesheet" }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

  %p.notice
    = notice
  %p.alert
    = alert
  
  #content
    = yield

  #pusher-key{:style => "display:none"}= Pusher.key
  :plain

    <script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
        if (window.console && window.console.log) window.console.log(message);
      };

      // Flash fallback logging - don't include this in production
      WEB_SOCKET_DEBUG = true;

      var pusher = new Pusher($('#pusher-key').text());
      var channel = pusher.subscribe('observations');
      channel.bind('observation', function(data) {
        alert(data.closest_section);
      });
    </script>
