%html
  %head
    %title= "UrinNola - If you have to pee when you're in NOLA, #UrinNola"
    %meta{ :content => "", :name => "mardi gras, new orleans, nola, pee, poo, find bathroom, find restroom, bathroom, restroom, fat tuesday, aint no place to pee" }
    %meta{ :content => "", :name => "author" }
    %meta{ :content => "3 days", :name => "revisit-after" }
    %meta{ name: "viewport",  content: "width=device-width, initial-scale=1.0, user-scalable=no" }
    = stylesheet_link_tag :application
        
    %script{ :type => "text/javascript", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyC1_zHYlJSC8xp31vXWNhjWZj7lqwnZDi4&sensor=true" }
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js" }

    = javascript_include_tag :application
    
    - if @maps.present? && @maps
      :javascript
        var Destinations = #{@destinations};
        google.maps.event.addDomListener(window, 'load', initialize);

    = csrf_meta_tags

  %body
    =yield

