!!! 5
%html
  %head
    %title= "New Orleans Parking Availability"
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %meta{ :content => "3 days", :name => "revisit-after" }
    %meta{name: "viewport",  content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %link{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :title => "Creative Commons Attribution 3.0 Unported License" }
    = stylesheet_link_tag    "application", :media => "all"
    :plain
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    #content
      = yield

